* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #eef2f3, #8e9eab);
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
}


.FormContainer {
    border: 1px solid #3b3a3a2f;    
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 65vh;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

h1 {
    color: rgba(8, 90, 167, 0.579);
    top: 20px;
    left: 40px;
    position: absolute;
}

.BoldLine {
    width: 100px;
    height: 5px;
    border-radius: 5px;
    background: rgba(8, 90, 167, 0.579);
    top: 60px;
    left: 45px;
    position: absolute;
}

.Name,
.Email {
    width: 20em;
    height: 3em;
    margin: 5px;
    padding: 5px;
    font: bold 1rem auto;
    outline: none;
    border: none;
    border-radius: 20px;
}

input::placeholder {
    padding: 5px;
}

.Message {
    width: 30em;
    height: 8em;
    margin: 20px 0 0 0;
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 10px;
}

.Message::placeholder {
    font-weight: bold;
}

.Submit {
    width: 100px;
    height: 40px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    position: absolute;
    top: 78%;
    left: 17%;
    background: rgba(8, 90, 167, 0.579);
}

.Submit span {
    font-size: 1rem;
    font-weight: bold;
    color: #e9e9e9;
}